<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">


    <!-- EsCluster -->
    <bean id="esCluster" class="com.sanq.product.utils.es.factory.EsCluster" destroy-method="destroy">
        <constructor-arg index="0">
            <set>
                <bean class="com.sanq.product.utils.es.config.HostAndPort">
                    <constructor-arg index="0" value="192.168.87.1"/>
                    <constructor-arg index="1" value="9300" type="int"/>
                </bean>
            </set>
        </constructor-arg>
    </bean>

</beans>