<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="300"/>
        <property name="maxIdle" value="110"/>
        <property name="minIdle" value="8"/>
        <property name="maxWaitMillis" value="1000"/>
        <property name="lifo" value="false"/>
        <property name="testOnBorrow" value="false"/>
    </bean>


    <bean id="jedisPool" class="redis.clients.jedis.JedisPool" destroy-method="destroy">
        <constructor-arg ref="jedisPoolConfig"/>
        <constructor-arg name="host" value="${redis.ip}"/>
        <constructor-arg name="port" value="${redis.port}"/>
    </bean>
</beans>